/node_modules
/public/storage
/public/hot
/public/css/app*.css
/public/js/*
!/public/js/bootstrap.min.js
!/public/js/promise-done-7.0.4.min.js
/storage/*.key
/vendor
/.vagrant
/.idea
Homestead.json
Homestead.yaml
.env
npm-debug.log
yarn-error.log