/node_modules
/public/storage
/public/hot
/public/css/app*.css
/public/js/app*.js*
/public/js/commons.js
/storage/*.key
/vendor
/.vagrant
/.idea
Homestead.json
Homestead.yaml
.env
npm-debug.log
yarn-error.log