#adl-filters {
  height: 100%;
  background-color: darken($white, 5%);

  .filter {
    @extend .row;
    @extend .py-2;

    span.subLabel {
      @extend .pl-1;

      font-size: 0.8em;
      font-style: italic;
    }
  }

  #applyFilters {

  }

  button {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-sm;
    @extend .mr-1;
  }
}

#adl-description {
  font-style: italic;
  border-bottom: 2px solid $hr-border-color;
}