#adl-filters {
  height: 100%;
  background-color: darken($white, 5%);

  .filter {
    @extend .row;
    @extend .py-2;
  }
  .line {
    border-bottom: 2px solid $hr-border-color;
  }
}

#adl-description {
  font-style: italic;
  border-bottom: 2px solid $hr-border-color;
}