html, body, #root, #root > div {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.outerContainer {
  @extend .container;

  min-height: 100%;
  background-color: #ffffff;
}

/* Overridden element styles */
select {
  @extend .custom-select;
}

div.line {
  border-bottom: 2px solid $hr-border-color;
}