.moduleHeader {
  @extend .m-2;
  @extend .p-2;
  @extend .rounded;

  background-color: $adl-gray-light;
}

.moduleDetail {
  @extend .container-fluid;
}

.moduleBox {
  @extend .m-2;
  @extend .p-2;
  @extend .rounded;

  background-color: $adl-gray-light;
}

.moduleUnbox {
  @extend .ml-3;
  @extend .mr-3;
  @extend .mt-1;
  @extend .p-2;
}

.moduleSidebar {
  @extend .p-2;

  .cover {
    border: 3px solid $adl-gray-light;
    width: 350px;
    height: 466px;
    margin: 0 auto;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}