#modules-list {
  #search-summary {
    @extend .col;
    @extend .float-right;
    @extend .text-right;
  }

  .module {
    height: 128px;
    overflow: hidden;
    font-size: .85rem;
  }

  select {
    @extend .ml-1;
  }
}