.moduleHeader {
  @extend .bg-dark;
  @extend .m-2;
  @extend .p-2;
  @extend .rounded;
}

.moduleSummary {
  @extend .m-3;
  @extend .p-2
}

.moduleDetail {
  @extend .container-fluid;
}

.moduleSidebar {
  @extend .p-2;

  .cover {
    border: 3px solid $dark;
    width: 350px;
    height: 466px;
    margin: 0 auto;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}