$white:  #fff !default;

$darkish: darken($white, 5%);
$dark: darken($white, 10%);
$darker: darken($white, 15%);
$body-bg: $darker;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$grid-gutter-width-base: 0;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
) !default;