$white:  #fff !default;

$body-bg: darken($white, 15%);

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$grid-gutter-width-base: 0;
$container-max-widths: (
  sm: 590px,
  md: 820px,
  lg: 1110px,
  xl: 1340px
) !default;