$white:  #fff !default;

$adl-gray-lighter: darken($white, 5%);
$adl-gray-light: darken($white, 10%);
$adl-gray-dark: darken($white, 15%);
$adl-gray-darker: darken($white, 20%);

$adl-primary: #ffce3a;

$body-bg: $adl-gray-lighter;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

$grid-gutter-width-base: 0;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
) !default;